.ticket_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.ticket_ul{
   width:90vw;
    display:flex;
    flex-direction: column;
    gap:1vw;
}
.ticket_li{
    background:white;
   display:flex;
   align-items: center;
   border-radius:1vw;
   padding:15px;
   justify-content: space-between;
    
}
.ticket_li_left{
    display:flex; align-items: center;font-weight: 500; gap:20px;
}
.ticket_li_left img{
     border-radius:50%;
     width:90px;
}
.ticket_li_right{
    display:flex;
    gap:20px;
    font-weight:800;
    align-items: center;
}
.ticket_li_right_button_1{
    color:white;
    background:#FF0000;
    border-radius:1vw;
    padding:10px 40px 10px 40px
}

.ticket_li_right_button_2{
    color:#8F00FF;
    background:#E2E2E2;
    border-radius:1vw;
    padding:10px 20px 10px 20px
}
.ticket_li_right_button_3{
    color:white;
    background:#6b6b6b;
    border-radius:1vw;
    border:transparent;
    font-weight: 800;
    padding:10px 20px 10px 20px
}
@media only screen and (max-width: 800px){
    .ticket_div{
        position:absolute;
    left:8%;
    top:15vw;
   
    
    }
    .ticket_ul{
       margin:0;
       padding:0;
       width:105vw;
       gap:6vw;
    }
    .ticket_li{
        border-radius:3vw;
        margin:0;
        flex-direction: column;
        gap:40px;
    }
    
}