@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

.body {

 

    font-family: 'DM Sans', sans-serif;

}

.slider_div {
    background: rgb(228, 197, 251);
    background: linear-gradient(180deg, rgba(228, 197, 251, 1) 0%, rgba(232, 208, 250, 1) 0%, rgba(207, 165, 239, 1) 93%, rgba(188, 131, 232, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
}

.logoDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoImg {
    width: 20vw;
    height: 10vw;
}
.checkbox {
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    border: 0.1vw solid black;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    position: relative;
    margin-right: 1vw;
    display: flex;
    align-items: center;
  }
  
  .checkbox:checked {
    background-color: transparent;
    border-color: black;
  }
  
  .checkbox:checked::before {
    content: '';
    display: block;
    width: 0.5vw;
    height: 1vw;
    border: solid black;
    border-width: 0 0.1vw 0.1vw 0;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 6px;
  }
  
  .rememberMe {
    display: flex;
    align-items: center;
    font-size: 1vw;
    color: #333;
  }
.loginForm {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
    justify-content: center;


}

.loginFormDiv {
    background: #f8f6f947;
    border-radius: 30px;
    padding: 0 10vw 9vw;
    font-family: 'DM Sans', sans-serif;
}

.emailinput {
    width: 30vw;
    height: 2vw;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 1vw;
    font-family: 'DM Sans', sans-serif;

    margin-top: 3vw;
    border: transparent;
}


.pass {
    width: 27vw;
    height: 2vw;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 1vw;
    border: transparent;
    font-family: 'DM Sans', sans-serif;
    margin-top: 2vw;
    padding-left: 4vw;
    position: relative;
    z-index: 0;
}

.pass_div {
    position: relative;


}

.keyicon {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 3vw;
    left: 1vw;
    z-index: 1;
}

.eye {
    z-index: 1;
    position: absolute;
    top: 3vw;
    right: 1vw;
    width: 2vw;
    height: 2vw;

}
.nextbut{
    background-color: #9977F4;
    border:none;
    color:white;
    border-radius:10px;
    padding:5px 20px 5px 20px;
    margin-top:20px;
    font-size:18px;
}
.daxilol {
    background: #9977F4;
    text-decoration: none;
    color: white;
    border: transparent;
    border-radius: 0.5vw;
    font-size: 1.1vw;
    height: 2.5vw;
    width: 8vw;
    margin-right: 1vw;
    cursor: pointer;
}

.logintxt {
    font-size: 1vw;
    color:#9977F4;
}

.daxiltxt {
    font-size: 2vw;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 4vw;
}

.login_top_txt {
    padding: 0;
    font-size: 1vw;
    font-weight: 500;
    margin: 0;
}

.login_top_txt a {
    color: #9977F4;
}

.qeydiyyat {
    background: #9977F4;
    color: white;
    border: transparent;
    border-radius: 5vw;
    font-size: 1vw;
    height: 2.5vw;
    width: 12vw;
    margin-left: 1vw;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {

    .emailinput {
        width: 91vw;
        height: 9vw;
        font-size: 5vw;
        margin-right:5vw;
        border-radius:3vw;
    }
    .slider_div{
        margin-top:-5vw;
    }

    .logoImg {
        width: 30vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    .loginFormDiv{
        padding:0 1vw 0 10vw;
        height:175vw;
    }
    .pass {
        width: 82vw;
        height: 9vw;
        font-size: 5vw;
        padding-left:10vw;
        border-radius:3vw;
    }
    .keyicon{
        width:8vw;
        height:8vw;
    }
  
    .eye{
        width:8vw;
        right:8vw;
        height:8vw;
        top:3.5vw;
    }
      
    .daxiltxt{
       
    }
  .login_top_txt{
    font-size:4vw;
    margin-top:5vw;
  }

    .daxilol {
        font-size: 4vw;
        width: 25vw;
        text-decoration: none;
        height: 7vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:2vw;
        margin-top:370%;
    }

    .daxiltxt {
        font-size: 8vw;
    }

    .logintxt {
        font-size: 2.5vw;
    }

    .qeydiyyat {
        font-size: 2.3vw;
        width: 100%;
        height: 6vw;
    }

    .checkbox {
        appearance: none;
        width: 8vw;
        height: 8vw;
        border: 0.8vw solid black;
        border-radius: 3px;
        transition: background-color 0.3s, border-color 0.3s;
        cursor: pointer;
        position: relative;
        margin-right: 1vw;
        display: flex;
        align-items: center;
      }
      
      .checkbox:checked {
        background-color: transparent;
        border-color: black;
      }
      
      .checkbox:checked::before {
        content: '';
        display: block;
        width: 2.5vw;
        height: 5vw;
        border: solid black;
        border-width: 0 1vw 1vw 0;
        transform: rotate(45deg);
        position: absolute;
        top: 0px;
        left: 6px;
      }
      
      .rememberMe {
        display: flex;
        align-items: center;
        font-size: 4vw;
        color: #333;
      }
      .logintxt{
        margin-right:5vw;
        font-size:4vw;
        text-decoration:underline;
        font-weight: 500;
      }
}


