.sidebar_list{
    display:flex; 
    flex-direction: column;

  
  
}
.sidebar_item{
  color:black; display:flex; flex-direction: row;
  align-items: center; gap:20px;
   
 padding:0px 10px 0px 10px;
 border-radius:1vw;
 width:85%;
 
}
.telebe360text{
  

   color: rgb(255,130,1);


}
.sidebar_item:hover{
    background: linear-gradient(180deg, #A763DD 0%, #F06BF2 100%);
    color:white;
}
.sidebar_item_text{
   font-weight:600;
   font-size:16px;
}
.sidebar_item_text:hover{
}
.sidebar_item_icon{
    width:25px;
   

}
.sidebar_item:hover .sidebar_item_icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}