.coming_soon_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap:40px;
   justify-content: center;
}
.coming_soon_h1{
    font-size:5vw;
    margin:0;
    padding:0;
}
.coming_soon_p{
    display:flex; 
      font-size:1.5vw;
      width:80%;
     gap:0.3vw;
     margin:0;
     padding:0;
    text-align: center;
    white-space: normal;
}

.coming_soon_form{
    display:flex;
    gap:10px;
}
.coming_soon_input{
    width:40vw;
    
    border-radius:12px;
    font-size:18px;
    padding:10px;
    border:1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.coming_soon_button{
    background:#8F00FF;
    border-radius:12px;
    padding:10px;
    color:white;
    border:none;
    font-size:18px;
}
.coming_soon_form_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}
.coming_soon_text_div{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap:15px;
}
@media only screen and (max-width: 800px) {

    .coming_soon_h1{
        font-size:30px;
    }
    .coming_soon_p{
        width:80%;
        font-size:15px;
    }
}