

.logoutdiv{
 
}
.feedback{
    background: rgb(143,0,255);
background: linear-gradient(137deg, rgba(143,0,255,1) 30%, rgba(189,0,255,1) 100%);
color:white;
border:none;
border-radius:9px;
padding:5px 15px 5px 15px;
font-size:16px;

}
.bulanik{
      
    backdrop-filter: blur(1px); 
}

.logoutbut{ margin:0;padding:0;
    margin-top:0.3vw;
    background:none;border:none;
}
.logoutbut img{
   width:1.8vw;
}
.rating{
    margin-top:2vw;
}
.textareadiv{
    margin-top:2vw;
}
.textarea{
    resize:none;
    border:none;
    width:28vw;
    border-radius:1vw;padding:1vw; font-size:1vw;
}
.textarea_p{
    font-size:1vw; font-weight: 800; 
}
.but{
    background: linear-gradient(90deg, #8F00FF 1.57%, #BD00FF 100%);
    padding:0.5vw 2vw 0.5vw 2vw;
    color:white;
    font-size:1vw;
    border:none;
    border-radius:0.7vw;
    margin-top:1vw;
    margin-right:1vw;
    align-self:flex-end;

}
@media only screen and (max-width: 800px){
 
}